<!DOCTYPE html>
<html>
<head>
  <title>CineRater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/path/to/jquery-latest.js"></script>
  <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
